<% if flash[:success] %>
setTimeout(function(){window.location="<%= url_for(@article) %>";},1000);
<% else %>
$(".alert-message info").hide(300);
$(".alert-message error").hide(300);
$("#post_errors").html("<div class=\"alert-message block-message error\"><ul><% @article.errors.full_messages.each do |msg|%><li><%= escape_javascript(msg) %></li><% end %></ul></div>");
$("#post_errors").show(300);
<% end %>
