<% title("Articles") %>
<p style="float:right"><%= link_to "New Article", new_article_path%></p>
<div class="row" >
<div class="span12 columns">
<% @article_months.each do |month,articles| %>
<h2><%= month.strftime('%B') %> </h2>
<table >
<tbody>
<%= render :partial => "list", :locals=>{:articles => articles} %>
</tbody>
</table>
<% end %>
</div>
</div>
