<p style="float:right"><%= link_to "New Article", new_article_path%></p>
<div class="row" >
<div class="span12 columns">
<table >
<thead>
  <tr>
    <td>Title </td>
    <td>Slug</td>
    <td>Edit</td>
    <td>Delete</td>
  </tr>
</thead>
<tbody>
<%= render :partial => "list" %>
</tbody>
</table>
</div>
</div>
