<nav>

  <ul class="nav">
    
    <li class="home"> <%= link_to "the Liberator.", :root  %> </li>

    <% if can? :manage,Category%>
      <% Category.excludes(:id=>Category.first.id).each do |cat| %>
      <li><%= link_to cat.name,edit_category_path(cat)%></li>
    <% end %>
          
    <% else %>
      <% Category.excludes(:id => Category.first.id).each do |cat| %>
      <li><%= link_to cat.name,cat %> </li>
    <%end %>
          
    <% end %>

  </ul>

</nav>