/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree .
*/


/* HTML, body, link, paragraph, etc. styling */

html { background-color: #eee; padding: 20px auto 20px auto; }

body {
  background-color: #eee;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
}

a img { border: none; }
a {}
a:hover {}


/* Container, userbar, navbar, footer: basic structural layout */

#container {
  margin: 0 auto;
  width: 960px;

  background: red;
}

#userbar {
  margin: 20px auto 20px auto;
  padding: 20px;
  width: 940px;
  background: purple;
}

.profile { float: right; }

nav {
  padding: 5px 0 5px 0;
  background: blue;
}

footer { text-align: center; margin: 20px; }


/* Frontpage layout */

.article { background: #fff !important; }

.normal {
  display: inline-block;
  width: 200px;
  height: 200px;
  padding: 20px;
  margin: -2px;
}

.featured {
  display: block;
  margin: auto;
  width: 940px;
  height: 350px;
  background: green !important;
}





