/*
This is a manifest file that'll automatically include all the stylesheets available in this directory and any sub-directories. You're free to add application-wide styles to this file and they'll appear at the top of the compiled file, but it's generally better to create a new file per style scope.

  = require_self
  = require_tree .

*/

@import url(http://fonts.googleapis.com/css?family=Crimson+Text:400,400italic,600,600italic);

/* HTML, body, link, paragraph, and other basics */

html { background-color: #fff; }

body {
  font-family: Helvetica, "Crimson Text", Times, "Times New Roman", serif;
  font-size: 16px;
}

a img { border: none; }



/* Container, userbar, navbar */

#container {
  display: block;
  margin: 20px auto 20px auto;
  width: 960px;
  padding: 0;
  background: #eee;
  /*overflow: auto;*/
}

nav ul {
  display: block;
  width: 950px;
  margin: auto;
  background: blue;
  overflow: auto;
}

nav li {
  display: inline-block;
  text-transform: uppercase;
  background: #eee;
}

nav li a { padding: 15px; }

nav li.home {
  font-weight: bold;
  width: 220px;
  text-transform: none !important;
  background: #000;
}

nav li.home a { color: #fff; }

footer {
  display: block;
  width: 960px;
  margin: 60px auto 60px auto;
  padding: 60px auto;
  font-size: .75em;
  text-align: center;
}



/* Logged-in user bar, profile, alerts and such */

.status, .profile { font-style: italic; }

.profile {
	float: right;
}

.profile a {
  padding: 10px;
  margin: 0 -10px 0 30px;
}

.alert-message	{
  padding: 10px;
  margin: 0 0 15px 0;
  color: #fff;
  background: #ff9d9d;
}

.success, .notice {
  background: #94ff94;
}



/* Editor's layout-edit menu */

.open {
  display: block !important;
  cursor: pointer;
}

#layout-menu {
  display: block;
  width: 950px;
  max-height: 285px;
  margin: 20px auto 35px auto;
  padding: 0;
  overflow: auto;
  border: 1px solid black;
  display:none;
  -moz-box-shadow:		  0 0 7px #000;
  -webkit-box-shadow:  0 0 7px #000;
  box-shadow:			  0 0 7px #000;
}

#list {
  margin: 0;
  padding: 0 0 10px 0;
  max-height: 230px;
  overflow: auto;
}

#list li {
  display: inline-block;
  float: left;
  width: 200px;
  padding: 10px;
  margin: 10px 0 0 10px;
  background: #eee;
  cursor: move;
  overflow: hidden;

  -moz-border-radius: 5px; /* Firefox */
  -webkit-border-radius: 5px; /* Safari, Chrome */
  border-radius: 5px; /* CSS3 */
  
  border-radius: 3px;

  color: #fff;
  background: -webkit-linear-gradient(rgba(39,39,39,1) 0%, #000000 100%);
}

#submit {
  display: none;
  width: 960px;
  float: right;
  text-align: center;
  margin: 0;
  padding: 10px;
  text-transform: uppercase;
  color: #fff;
  background: #000;
}



/* Article & page layout */

.article {
  display: inline-block;
  float: left;
  width: 230px;
  height: 230px;
  padding: 10px;
  background: #cbcbcb;
  margin: 5px;
}

.featured {
  display: block;
  width: 710px;
  height: 480px;
}

.secondary {
	margin: 10px 5px;
}

.ui-draggable {
  margin: 15px auto auto 10px;
}




/* Individual article layout */

article h1 { 
  font-size: 2em;
}

article .slug { font-style: italic; }

.per-article-overlay {
  margin: 0;
  height: 210px;
  background: rgba(255, 255, 255, 0.5);
  text-shadow: 0 0 .25em #888;
}

.featured .per-article-overlay {
  height: 460px;
  padding: 15px 30px 30px 30px;
}

.secondary h2 { font-size: 1.1em;}

.secondary p { font-size: 1em;}



/* Sign-in form */

form {
  width: 920px;
  margin: auto;
  padding: 20px;
  background: #eee;
  -webkit-transition: all .1 smooth 0;
}

legend {
  font-size: 2em;
  font-style: italic;
}

li {
  display: block;
  margin: 10px 0 20px -40px;
}

input,select,textarea{
  font-family: "Crimson Text", Times, "Times New Roman", serif;
  width: 575px;
  padding: 10px;
  font-size: 1em;
}

input#user_remember_me { width: 30px; }

textarea{
  border:none;
}

label { font-size: 1.5em; margin: 10px auto; } .hide { display: none; }

.btn {
  margin: auto auto auto -40px;
  display: block;
  font-family: "Crimson Text", Times, "Times New Roman", serif;
  width: 600px;
  color: #fff;
  background: #000;
  border: none;
}

