/*
This is a manifest file that'll automatically include all the stylesheets available in this directory and any sub-directories. You're free to add application-wide styles to this file and they'll appear at the top of the compiled file, but it's generally better to create a new file per style scope.

  = require_self
  = require_tree .

*/



/* HTML, body, link, paragraph, and other basics */

html { background-color: #fff; padding: 20 auto;}

body {
  font-family: Georgia, serif;
  font-size: 16px;
}

a img { border: none; }
a {}
a:hover {}



/* Container, userbar, navbar */

#container {
  margin: 0 auto;
  width: 960px;
  overflow: auto;
}

#userbar {
  margin: 20px auto 20px auto;
  padding: 20px 0 20px 0;
  width: 940px;
}

.status, .profile { font-style: italic; }

.profile { float: right; }

.profile a {
  padding: 10px;
  margin: 0 -20px 0 30px;
}

nav ul {
  display: block;
  width: 960px;
  margin: auto;
  padding: 0;
  overflow: auto;
}

nav li {
  display: inline-block;
  float: left;
  margin: 10px;
  padding: 0;
  text-transform: uppercase;
  background: #eee;
}

nav li.home {
  font-weight: bold;
  width: 220px;
  text-transform: none !important;
}

nav li a {
  display: block;
  padding: 20px;
}

div#alert-message {display: none !important;}



/* Editor's layout-edit menu */

.open {
  display: block !important;
  background-color:black;
}

#layout-menu {
  display: block;
  width: 960px;
  max-height: 250px;
  margin: 20px auto 20px auto;
  padding: 0;
  overflow: auto;

  background: #ccc;
}

#list {
  margin: 0;
  padding: 0;
  max-height: 212px;
  overflow: auto;
}

#list li {
  display: inline-block;
  float: left;
  width: 208px;
  padding: 10px;
  margin: 10px 0 0 10px;
  background: white;
  cursor: move;
}

#submit {
  display: block;
  width: 208px;
  float: right;
  text-align: center;
  margin: 10px;
  padding: 10px;
  text-transform: uppercase;
  color: #fff;
  background: #000;
}



/* Frontpage layout */

.article {
  display: inline-block;
  float: left;
  width: 200px;
  height: 200px;
  margin: 10px;
  padding: 10px;
  background: #f9f9f9;
  border: dotted black;
  border-width: 1px 0 1px 0;
}

.featured {
  display: block;
  width: 920px;
}