.article{
background-color:#333;
}
#edit_menu{
width:800px;
height:150px;
}
.list_item{
width: 150px;
height: 35px;
float:left;
}
.article#head{
width:800px;
height:280px;
margin-left:auto;
margin-right:auto;
margin-bottom:15px;
}
.article.secondary {
float:left;
margin-right:5px;
width:200px;
height:180px;
}
