<% if articles %>
<% articles.each_with_index do |article,index| %>
<div <% if index==0 %>class="article" id="head"<% else %>class="article secondary"<% end %> data-id="<%= if article then article.id else end %>">
<% if article %>
<h2><%= article.title %></h2>
<%= article.slug %>
</div>
<% else %>
<h1> Placeholder </h1> 
</div>
<% end %>
<% end %>
<% else %>
<% 3.times do |index|%>
<div <% if index==0 %>class="article" id="head"<% else %>class="article secondary"<% end %>><h1>Placeholder</h1></div>
<% end %>
<% end %>

