<% if articles %>
<div class="feature-container">
<% articles.first(2).each_with_index do |article,index| %>
  <%= render partial: "article", locals:{article:article,featured:true,visible:index.zero?} %>
<% end %>
</div>
<% articles.last(articles.length-2).each do |article| %>
  <%= render :partial=>"article",:locals=>{article:article,featured:false,visible:true} %>
<% end %>

<% else %>
<% 20.times do |index|%>
  <div <% if index==0 || index==2 %>
  class="article featured" <% else %>
    class="article secondary" <% end %>>
    <div class="per-article-overlay">
    <h2>Placeholder Title</h2>
    <p>Dummy text.</p>
    </div>
    </div>
  <% end %>
<% end %>
