<div  class="container-fluid">
<% content_for :edit_menu do %>
<div id="edit_menu"><div id="list"><div class="list_item"><%= link_to "Submit",category_path,:id => "submit",:remote=>true,:method => "put"%></div><% @articles.each do |article|%><div class="list_item" data-id="<%=article.id%>"><b><%= article.title%></b></div><% end %></ul></div>
<% end %>
<div class="content"><%= render :partial =>"index",:locals => {:articles => @front_page_articles} %></div>

</div>
