<div  class="container-fluid">
<div class="sidebar"><ul id="list"><% @articles.each do |article|%><li id="<%=article.id%>"><b><%= article.title%></b></li><% end %></ul></div>
<div class="content"><%= render :partial =>"index",:locals => {:articles => @front_page_articles} %></div>

</div>
