<% content_for :edit_menu do %>

<div id="layout-menu">
	<ul id="list">
		<%=render :partial => "article_list" %>
	</ul>
	<%= link_to "Save Layout",category_path,:id => "submit",:remote=>true,:method => "put"%>
</div>

<% end %>

<div class="content">
	<%= render :partial =>"index",:locals => {:articles => @front_page_articles} %>
</div>
